@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "PT Sans Narrow", sans-serif;
  background-image: linear-gradient( 35.2deg,  rgba(0,119,182,1) -18.7%, rgba(8,24,68,1) 54.3% );
  min-height: 100vh;

}

.login-form {
  width: 500px;
  height: 550px;
  background-color: #011936;
  margin: 40px auto;
  padding: 10px;
  border-radius: 5px;
  display: grid;
  grid-template-rows: 40% 60%;
}

.header > img {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  display: block;
}

#login {
  display: grid;
  grid-template-rows: 30% 30% 20% 10%;
  padding: 10px;
}

.login-form-group,
.signup-form-group {
  display: flex;
  flex-direction: column;
  color: #f5f5f5;
}

.login-form-group > input,
.signup-form-group > input {
  height: 40px;
  border-radius: 5px;
  border: none;
  padding: 0 10px;
  margin-top: 10px;
  background-color: #f5f5f5;
  color: #011936;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1.5px;
}

.login-form-group > input:focus,
.signup-form-group > input:focus {
  outline: none;
}

.login-form-group > label,
.signup-form-group > label {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1.5px;
}

.login-form-group > #button,
.signup-form-group > #button {
  height: 40px;
  border-radius: 5px;
  border: none;
  background-color: #f1d302;
  color: #011936;
  font-size: 14px;
  font-weight: bold;
  margin-top: 10px;
  cursor: pointer;
  transition: 0.5s ease-in-out all;
}

.login-form-group > #button:hover {
  background-color: transparent;
  color: #f5f5f5;
  border: 2px solid #f1d302;
}

.footer > p {
  color: #f5f5f5;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  letter-spacing: 2px;
}

.footer > p > a {
  color: #f1d302;
  font-weight: 700;
  cursor: pointer;
  text-decoration: #f1d302 underline;
}

/* sign up section
 */

.signup-form {
  background-image: url("https://i.pinimg.com/564x/e6/72/dc/e672dc04b83e142066e7ce0fcb3a7ae1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 600px;
  height: 580px;
  margin: 30px auto;
  padding: 10px;
  border-radius: 5px;
  display: grid;
  grid-template-rows: 20% 80%;
}
#signup {
  display: grid;
  grid-template-rows: 25% 25% 25% 15% 10%;
  padding: 10px;
  align-items: center;
  background-color: #011936;
  border-radius: 5px;
  height: 100%;
}

.pokemon-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  padding: 10px;
  height: 80vh;
  justify-items: center;
  align-items: center;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
 
}

.pokemon-card {
  width: 200px;
  height: 150px;
  background-color: #062953;
  background-color: #011936;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 5px 5px 5px #0e0d0d, -5px -5px 5px #0e0d0d;
  cursor: pointer;
  transition: 0.5s ease-in-out all;
  color: #f5f5f5;
  font-weight: 600;
 
}

.pokemon-health {
  font-size: 12px;
  font-weight: 500;
  color: #f5f5f5;
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
  padding: 5px;
  width: 100%;
}
.pokemon-health > p {
  background-color: #f1d302;
  border-radius: 5px;
  padding: 5px;
  text-align: center;
  color: #011936;
}

.pokemon-card:hover {
  background-color: #f1d302;
  color: #011936;
}

.pokemon-card > img {
  width: 100px;
  height: 100px;
}
